<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{editable-text text=text}}</h2>
      </div>
      <div class="col-md-6">
        <ul class="list-inline banner-social-buttons">
          <li>{{colored-button value=button1}}
          </li>
          <li>{{colored-button value=button2}}
          </li>
          <li>{{colored-button value=button3}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
