<div class='row two-column-right-image two-column'>

  <div class='col-lg-5 col-sm-6'>
    <h1>{{editable-text text=headline}}</h1>
    <p>{{editable-text-area text=text}}</p>
  </div>

  <div class='col-lg-5 col-lg-offset-2 col-sm-6'>
    {{editable-image src=imageSrc}}
  </div>

</div>
