<div class='row'>
  <div class='col-xs-4'>
    {{editable-text-area text=column1}}
  </div>
  <div class='col-xs-4'>
    {{editable-text-area text=column2}}
  </div>
  <div class='col-xs-4'>
    {{editable-text-area text=column2}}
  </div>
</div>
