<style>
  .page-body .hero {
    font-size: 5.8em;
    color: white;
    text-align: center;
    background-image: url("/images/theme-thumbnails/tigers3.jpg");
    background-repeat: repeat;
    padding: 140px;
    width: 100%;
    text-shadow: 0px 0px 18px rgba(50, 50, 50, 1);
    font-weight: bold;
  }
  .page-body footer {
    color: #777;
    text-align: center;
  }
</style>
<div class="page-body">
  DEEEETRROIIIITT Tigers...
  {{yield}}
  ...are better
</div>
