<section id='content'>
  <div class='container'>
    <div class='row' id='content-wrapper'>
      <div class='col-xs-12'>
        <div class='page-header'>
          <h1 class='pull-left'>
            <i class='icon-calendar'></i>
            <span>Calendar</span>
          </h1>
          <div class='pull-right'>
            <ul class='breadcrumb'>
              <li>
                <a href='#'>
                  <i class='icon-bar-chart'></i>
                </a>
              </li>
              <li class='separator'>
                <i class='icon-angle-right'></i>
              </li>
              <li class='active'>Calendar</li>
            </ul>
          </div>
        </div>
        <div class='col-sm-12 box' style='margin-bottom: 0'>

          <div class='box-content'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='tabbable'>
                  <ul class='nav nav-tabs'>
                    <li class='active'>
                      <a data-toggle='tab' href='#tab1'>
                        <i class='icon-indent-left'></i>
                        Overview
                      </a>
                    </li>
                    <li>
                      <a data-toggle='tab' href='#tab2'>
                        <i class='icon-edit text-red'></i>
                       Create Event
                      </a>
                    </li>
                    <li>
                      <a data-toggle='tab' href='#tab3'>
                        <i class='icon-ambulance text-blue'></i>
                        Upcoming
                      </a>
                    </li>
                  </ul>
                  <div class='tab-content'>
                    <div class='tab-pane active' id='tab1'>

                      <div class='col-sm-3' id='events'>
                        <div class='box'>
                          <div class='box-header'>
                            <div class='title'>Draggable events</div>
                            </div>
                            <div class='box-content'>
                              <div class='label label-important external-event' data-event-class='label-important'>Jane meetup</div>
                              <div class='label label-warning external-event' data-event-class='label-warning'>Shopping</div>
                              <div class='label label-success external-event' data-event-class='label-success'>Dentist</div>
                            <hr class='hr-normal'>
                            <label class='checkbox'>
                            <input id='calendar-remove-after-drop' type='checkbox' value='option1'>
                            Remove after drop?
                            </label>
                            <hr class='hr-normal'>
                              <form id="new-event" style="margin-bottom:0;" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
                            <input class='form-control' id='new-event-input' placeholder='Event name' type='text'>
                            </div>
                            <button class='btn btn-primary btn-block'>
                            <i class='icon-plus'></i>
                            Create event
                            </button>
                            </form>

                          </div>
                        </div>
                      </div>
                      <div class='col-sm-9'>
                        <div class='box'>
                          <div class='box-header'>
                            <div class='title'>Home and work</div>
                          </div>
                          <div class='box-content'>
                            <div class='full-calendar-demo'></div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class='tab-pane' id='tab2'>




                      <p>Howdy, I'm in Section 2.</p>




                    </div>
                    <div class='tab-pane' id='tab3'>




                      <p>What up girl, this is Section 3.</p>





                    </div>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>































 <div id='main-nav-bg'></div>
  <nav id='main-nav'>
    <div class='navigation'>
      <div class='search'>
        <form action='search_results.html' method='get'>
          <div class='search-wrapper'>
            <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
            <button class='btn btn-link icon-search' name='button' type='submit'></button>
          </div>
        </form>
      </div>
      <ul class='nav nav-stacked'>
        <li>
          {{#link-to 'dashboard'}}
            <i class='icon-dashboard'></i>
            <span>Dashboard</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'marketing'}}
          <i class='icon-cog'></i>
          <span>Marketing</span>
        {{/link-to}}
        </li>
        <li>
        {{#link-to 'blog'}}
          <i class='icon-tint'></i>
          <span>Blog</span>
      {{/link-to}}
      </li>

        <li class=''>
          {{#link-to 'marketplace'}}
            <i class='icon-star'></i>
            <span>MarketPlace</span>
          {{/link-to}}
        </li>

        <li class=''>
          {{#link-to 'email'}}
            <i class='icon-table'></i>
            <span>E-Mail</span>
          {{/link-to}}
        </li>
        
        <li class=''>
          {{#link-to 'calendar'}}
            <i class='icon-calendar'></i>
            <span>Calendar</span>
          {{/link-to}}</li>
        <li>
          {{#link-to 'manage'}}
            <i class='icon-th'></i>
            <span>Manage</span>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
