<!-- <section id='content'>
  <div class='container'>
  	<div class='row' id='content-wrapper'>
  	  <div class='col-xs-12'>
  		<div class='page-header page-header-with-buttons'>
  	    <h1 class='pull-left'>
  	      <i class='icon-dashboard'></i>
  	      <span>Dashboard</span>
  	    </h1>
  	    <div class='pull-right'>
  	      <div class='btn-group'>
  	        <a class="btn btn-white hidden-xs" href="#">Last month</a>
  	        <a class="btn btn-white" href="#">Last week</a>
  	        <a class="btn btn-white " href="#">Today</a>
  	              <a class="btn btn-white" id="daterange" href="#"><i class='icon-calendar'></i>
  	        <span>Custom</span>
  	        <b class='caret'></b>
  	        </a>

  	      </div>
  	    </div>
  	  </div>
  	  <div class='row'>
  	    <div class='col-sm-12 box' style='margin-bottom: 0'>
  	      <div class='box-content'>
  	        <div class='row'>
  	          <div class='col-sm-12'>
  	            <div class='tabbable'>
  	              <ul class='nav nav-tabs'>
  	                <li class='active'>
  	                  <a data-toggle='tab' href='#tab1'>
  	                    <i class='icon-indent-left'></i>
  	                     Section 1
  	                  </a>
  	                </li>
  	                <li>
  	                  <a data-toggle='tab' href='#tab2'>
  	                    <i class='icon-edit text-red'></i>
  	                    Section 2
  	                  </a>
  	                </li>
  	                <li>
  	                  <a data-toggle='tab' href='#tab3'>
  	                    <i class='icon-ambulance text-blue'></i>
  	                    Section 3
  	                    </a>
  	                </li>
  	              </ul>
  	            <div class='tab-content'>
  	              <div class='tab-pane active' id='tab1'>
  	                <div class='row'>
                  <div class='col-sm-6 box'>
                    <div class='box-header'>
                      <div class='title'>
                        <i class='icon-inbox'></i>
                        Orders
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>

                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content'>
                      <div id='stats-chart1'></div>
                    </div>
                  </div>
                  <div class='col-sm-6 box'>
                    <div class='box-header'>
                      <div class='title'>
                        <i class='icon-group'></i>
                        Users
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>

                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content'>
                      <div id='stats-chart2'></div>
                    </div>
                  </div>
                </div>
                <hr class='hr-drouble'>
                <div class='row'>
                  <div class='col-sm-12 col-md-6'>
                    <div class='box'>
                      <div class='box-header'>
                        <div class='title'>
                          <div class='icon-inbox'></div>
                          Orders
                        </div>
                        <div class='actions'>
                          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                          </a>

                          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                          </a>
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-sm-6'>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-error'>191</h3>
                            <small>New</small>
                            <div class='text-error icon-inbox align-right'></div>
                          </div>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-warning'>311</h3>
                            <small>In process</small>
                            <div class='text-warning icon-check align-right'></div>
                          </div>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-info'>3</h3>
                            <small>Pending</small>
                            <div class='text-info icon-time align-right'></div>
                          </div>
                        </div>
                        <div class='col-sm-6'>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-primary'>3</h3>
                            <small>Shipped</small>
                            <div class='text-primary icon-truck align-right'></div>
                          </div>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-success'>981</h3>
                            <small>Completed</small>
                            <div class='text-success icon-flag align-right'></div>
                          </div>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-muted'>0</h3>
                            <small>Canceled</small>
                            <div class='text-muted icon-remove align-right'></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='col-sm-6 col-md-3'>
                    <div class='box'>
                      <div class='box-header'>
                        <div class='title'>
                          <i class='icon-group'></i>
                          Visitors
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-sm-12'>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-error'>9100</h3>
                            <small>Unique</small>
                            <div class='text-error icon-user align-right'></div>
                          </div>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-warning'>41 000</h3>
                            <small>Pageviews</small>
                            <div class='text-warning icon-book align-right'></div>
                          </div>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-primary'>12:21</h3>
                            <small>Average time</small>
                            <div class='text-primary icon-time align-right'></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='col-sm-6 col-md-3'>
                    <div class='box'>
                      <div class='box-header'>
                        <div class='title'>
                          <i class='icon-comments'></i>
                          Comments
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-sm-12'>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-error'>91</h3>
                            <small>New</small>
                            <div class='text-error icon-plus align-right'></div>
                          </div>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-success'>1</h3>
                            <small>Approved</small>
                            <div class='text-success icon-ok align-right'></div>
                          </div>
                          <div class='box-content box-statistic'>
                            <h3 class='title text-info'>123</h3>
                            <small>Pending</small>
                            <div class='text-info icon-time align-right'></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>





  	              </div>
  	              <div class='tab-pane' id='tab2'>


  	                	<div class='row'>
  		            <div class='col-sm-6'>
  		              <div class='row'>
  		                <div class='col-sm-12'>
  		                  <div class='box box-bordered purple-border'>
  		                    <div class='box-header purple-background'>
  		                      <div class='title'>
  		                        <i class='icon-calendar'></i>
  		                        Calendar
  		                      </div>
  		                    </div>
  		                    <div class='box-content'>
  		                      <div class='full-calendar-demo'></div>
  		                    </div>
  		                  </div>
  		                </div>
  		              </div>
  		            </div>
  					<div class='col-sm-6'>
  				      <div class='row'>
  				        <div class='col-sm-12'>
  				          <div class='box'>
  				            <div class='box-header blue-background'>
  				              <div class='title'>
  				                <div class='icon-envelope-alt'></div>
  				                Quick e-mail
  				              </div>
  				              <div class='actions'>
  				                <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
  				                </a>

  				                <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
  				                </a>
  				              </div>
  				            </div>
  				            <div class='box-content'>
  				              <div class='form-group'>
  				                <input value="" placeholder="E-mail" class="form-control" name="email" type="text" />
  				              </div>
  				              <div class='form-group'>
  				                <textarea class='form-control wysihtml5' id='body' placeholder='Your message...' rows='5'></textarea>
  				              </div>
  				              <div class='text-right'>
  				                <a class="btn btn-primary" href="#">Send</a>
  				              </div>
  				            </div>
  				          </div>
  				        </div>
  				      </div>
  				    </div>
  				</div>
		    </div>





  <div class='tab-pane' id='tab3'>
	          <div class='row recent-activity'>
			    <div class='col-sm-12'>
			    	<div class='box'>
			            <div class='box-header'>
			              <div class='title'>
			                <i class='icon-refresh'></i>
			                Recent activity
			              </div>
			              <div class='actions'>
			                <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
			                </a>

			                <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
			                </a>
			              </div>
			            </div>
			            <div class='box-content box-no-padding'>
			              <ul class='nav nav-tabs nav-tabs-simple'>
			                <li class='active'>
			                              <a data-toggle="tab" class="green-border" href="#users"><i class='icon-user text-green'></i>
			                  Users
			                  </a>

			                </li>
			                <li>
			                              <a data-toggle="tab" class="purple-border" href="#comments"><i class='icon-comments text-purple'></i>
			                  Comments
			                  </a>

			                </li>
			                <li class='dropdown'>
			                              <a data-toggle="dropdown" class="dropdown-toggle orange-border" href="#">Dropdown
			                  <i class='icon-caret-down text-contrast'></i>
			                  </a>

			                  <ul class='dropdown-menu'>
			                    <li><a href="#">Hi there!</a></li>
			                  </ul>
			                </li>
			              </ul>
			              <div class='tab-content'>
			                <div class='tab-pane fade in active' id='users'>
			                  <ul class='list-unstyled users list-hover list-striped'>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">Jean</a>
			                        signed in
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:34:37 +0200'>September 15, 2013 - 17:34</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">Kendrick</a>
			                        uploaded photo
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:35:37 +0200'>September 15, 2013 - 17:35</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">Jason</a>
			                        signed in
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:36:37 +0200'>September 15, 2013 - 17:36</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">inley</a>
			                        signed up
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:37:37 +0200'>September 15, 2013 - 17:37</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">Allen</a>
			                        signed in
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:38:37 +0200'>September 15, 2013 - 17:38</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">Alexis</a>
			                        signed in
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:39:37 +0200'>September 15, 2013 - 17:39</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">Johnnie</a>
			                        commented
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:40:37 +0200'>September 15, 2013 - 17:40</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">Alma</a>
			                        commented
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:41:37 +0200'>September 15, 2013 - 17:41</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='action pull-left'>
			                        <a class="text-contrast" href="#">Brock</a>
			                        uploaded photo
			                      </div>
			                      <small class='date pull-right text-muted'>
			                        <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 17:42:37 +0200'>September 15, 2013 - 17:42</span>
			                        <i class='icon-time'></i>
			                      </small>
			                    </li>
			                  </ul>
			                  <div class='load-more'>
			                                  <a id="users-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
			                    Load more
			                    </a>

			                  </div>
			                </div>
			                <div class='tab-pane fade' id='comments'>
			                  <ul class='list-unstyled comments list-hover list-striped'>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='body'>
			                        <div class='name'><a class="text-contrast" href="#">Kellie</a></div>
			                        <div class='actions'>
			                                              <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
			                          </a>

			                                              <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
			                          </a>

			                        </div>
			                        <div class='text'>Qui vel omnis quia ea quasi voluptate rerum cum sit. Corporis qui ducimus quidem</div>
			                      </div>
			                      <div class='text-right'>
			                        <small class='date text-muted'>
			                          <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 18:33:37 +0200'>September 15, 2013 - 18:33</span>
			                          <i class='icon-time'></i>
			                        </small>
			                      </div>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='body'>
			                        <div class='name'><a class="text-contrast" href="#">Jerald</a></div>
			                        <div class='actions'>
			                                              <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
			                          </a>

			                                              <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
			                          </a>

			                        </div>
			                        <div class='text'>Hic aut earum blanditiis sit culpa in saepe reiciendis. Alias expedita officia magnam possimus et possimus culpa assumenda consequatur qui aut vel</div>
			                      </div>
			                      <div class='text-right'>
			                        <small class='date text-muted'>
			                          <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 19:33:37 +0200'>September 15, 2013 - 19:33</span>
			                          <i class='icon-time'></i>
			                        </small>
			                      </div>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='body'>
			                        <div class='name'><a class="text-contrast" href="#">Cathleen</a></div>
			                        <div class='actions'>
			                                              <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
			                          </a>

			                                              <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
			                          </a>

			                        </div>
			                        <div class='text'>Eum pariatur quod sapiente nulla. Minima modi cumque necessitatibus quam dolor corrupti fugiat impedit voluptas nobis nisi consequatur aut</div>
			                      </div>
			                      <div class='text-right'>
			                        <small class='date text-muted'>
			                          <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 20:33:37 +0200'>September 15, 2013 - 20:33</span>
			                          <i class='icon-time'></i>
			                        </small>
			                      </div>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='body'>
			                        <div class='name'><a class="text-contrast" href="#">Zoe</a></div>
			                        <div class='actions'>
			                                              <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
			                          </a>

			                                              <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
			                          </a>

			                        </div>
			                        <div class='text'>Ut quibusdam debitis eaque et quis sapiente eos tempore distinctio quia et deleniti. Quae libero ullam harum mollitia non sunt placeat temporibus consequatur</div>
			                      </div>
			                      <div class='text-right'>
			                        <small class='date text-muted'>
			                          <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 21:33:37 +0200'>September 15, 2013 - 21:33</span>
			                          <i class='icon-time'></i>
			                        </small>
			                      </div>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <div class='icon-user'></div>
			                      </div>
			                      <div class='body'>
			                        <div class='name'><a class="text-contrast" href="#">Toby</a></div>
			                        <div class='actions'>
			                                              <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
			                          </a>

			                                              <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
			                          </a>

			                        </div>
			                        <div class='text'>Dolorem id consequatur quod dolor natus. Optio fugiat qui qui debitis</div>
			                      </div>
			                      <div class='text-right'>
			                        <small class='date text-muted'>
			                          <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 22:33:37 +0200'>September 15, 2013 - 22:33</span>
			                          <i class='icon-time'></i>
			                        </small>
			                      </div>
			                    </li>
			                    <li>
			                      <div class='avatar pull-left'>
			                        <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
			                      </div>
			                      <div class='body'>
			                        <div class='name'><a class="text-contrast" href="#">Lynette</a></div>
			                        <div class='actions'>
			                                              <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
			                          </a>

			                                              <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
			                          </a>

			                        </div>
			                        <div class='text'>Et aliquam et et. Nemo natus est sint modi occaecati</div>
			                      </div>
			                      <div class='text-right'>
			                        <small class='date text-muted'>
			                          <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 23:33:37 +0200'>September 15, 2013 - 23:33</span>
			                          <i class='icon-time'></i>
			                        </small>
			                      </div>
			                    </li>
			                  </ul>
			                  <div class='load-more'>
			                                  <a id="comments-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
			                    Load more
			                    </a>

			                  </div>
			                </div>
			              </div>
			            </div>




	              </div>
	            </div>
	          </div>
	        </div>
	      </div> -->









 <div id='main-nav-bg'></div>
  <nav id='main-nav'>
    <div class='navigation'>
      <div class='search'>
        <form action='search_results.html' method='get'>
          <div class='search-wrapper'>
            <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
            <button class='btn btn-link icon-search' name='button' type='submit'></button>
          </div>
        </form>
      </div>
      <ul class='nav nav-stacked'>
        <li>
          {{#link-to 'dashboard'}}
            <i class='icon-dashboard'></i>
            <span>Dashboard</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'marketing'}}
          <i class='icon-cog'></i>
          <span>Marketing</span>
        {{/link-to}}
        </li>
        <li>
        {{#link-to 'blog'}}
          <i class='icon-tint'></i>
          <span>Blog</span>
      {{/link-to}}
      </li>

        <li class=''>
          {{#link-to 'marketplace'}}
            <i class='icon-star'></i>
            <span>MarketPlace</span>
          {{/link-to}}
        </li>

        <li class=''>
          {{#link-to 'email'}}
            <i class='icon-table'></i>
            <span>E-Mail</span>
          {{/link-to}}
        </li>

        <li class=''>
          {{#link-to 'calendar'}}
            <i class='icon-calendar'></i>
            <span>Calendar</span>
          {{/link-to}}</li>
        <li>
          {{#link-to 'manage'}}
            <i class='icon-th'></i>
            <span>Manage</span>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
